@using AuthenticationSystem.Client.Models.Login;
@model LoginViewModel;
<div class="card-body">
    <form asp-controller="Account" asp-action="Login" method="post" id="login-form">
        <div class="text-center mb-3">
            <p class="text-lg">Sign in with:</p>
            <button type="button" class="btn btn-link btn-floating mx-1">
                <i class="fab fa-facebook-f"></i>
            </button>

            <button type="button" class="btn btn-link btn-floating mx-1">
                <i class="fab fa-google"></i>
            </button>

            <button type="button" class="btn btn-link btn-floating mx-1">
                <i class="fab fa-twitter"></i>
            </button>

            <button type="button" class="btn btn-link btn-floating mx-1">
                <i class="fab fa-github"></i>
            </button>
        </div>

        <p class="text-lg text-center">or:</p>

        <!-- Email input -->
        <div class="form-outline mb-4">
            <label asp-for="Email" class="form-label text-lg">Email</label>
            <input asp-for="Email" type="email" id="loginName" class="form-control" placeholder="Enter email"/>
            <p>
                We do not transfer personal data to third parties.
            </p>
        </div>

        <!-- Password input -->
        <div class="form-outline mb-4">
            <label asp-for="Password" class="form-label text-lg">Password</label>
            <input asp-for="Password" type="password" id="loginPassword" class="form-control" placeholder="Enter password" />
        </div>
    </form>
</div>
<div class="card-footer">
    <!-- 2 column grid layout -->
    <div class="row mb-4">
        <div class="col-md-6 d-flex justify-content-center">
            <!-- Checkbox -->
            <div class="form-check mb-3 mb-md-0">
                <input class="form-check-input text-lg btn-dark" type="checkbox" value="" id="loginCheck" checked />
                <label class="form-check-label text-lg" for="loginCheck"> Remember me </label>
            </div>
        </div>

        <div class="col-md-6 d-flex justify-content-center">
            <!-- Simple link -->
            <a class="text-lg text-black" href="#">Forgot password?</a>
        </div>
    </div>

    <!-- Submit button -->
    <button type="submit" form="login-form" class="btn btn-dark btn-block mb-4 text-lg">Sign in</button>
</div>
